.navbar {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
a.text-decoration-none.text-dark,
a.text-decoration-none.text-white,
a.text-decoration-none {
  margin: 1rem 2.5rem !important;
  line-height: 25px;
}
.navbar-nav {
  margin: 1rem 0;
}
